* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.active {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  height: 75px;
  top: 0;
  transition: all 0.5s linear; }

@font-face {
  font-family: "Hiragino_Mincho_Pro";
  src: url("fonts/Hiragino_Mincho_Pro.ttc"); }

@font-face {
  font-family: "Brandon_bld";
  src: url("fonts/Brandon_bld.otf"); }

@font-face {
  font-family: "Brandon_blk";
  src: url("fonts/Brandon_blk.otf"); }

.menu-btn {
  position: fixed;
  box-sizing: border-box;
  width: 100px;
  height: 96px;
  z-index: 3;
  padding-left: 35px;
  padding-top: 35px;
  top: 0;
  right: 0;
  background-color: #a2c652;
  cursor: pointer;
  transition: all 0.5s linear; }
  .menu-btn .menu-btn-inner {
    position: fixed;
    box-sizing: border-box;
    width: 100px;
    height: 96px;
    z-index: 3;
    padding-left: 35px;
    padding-top: 35px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: all 0.5s linear; }
    .menu-btn .menu-btn-inner .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background-color: white;
      transition: all 0.5s linear; }
    .menu-btn .menu-btn-inner.close {
      transform: rotate(180deg);
      padding-top: 44px; }
      .menu-btn .menu-btn-inner.close .btn-line {
        background-color: #a2c652; }
        .menu-btn .menu-btn-inner.close .btn-line:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px); }
        .menu-btn .menu-btn-inner.close .btn-line:nth-child(2) {
          opacity: 0; }
        .menu-btn .menu-btn-inner.close .btn-line:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: white;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s linear; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: white;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s linear; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s linear; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: black; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: set-text-color(#a2c652);
    text-decoration: none;
    transition: all 0.5s linear; }
    .menu .nav-link:hover {
      color: black; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (min-width: 1201px) {
  header .logo {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 40px;
    top: 10px; }
  .active {
    height: 96.1px; }
  .aware {
    width: 1000px;
    height: 700px;
    margin: 120px auto 0;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .aware h1 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 50px;
      position: relative;
      top: 120px;
      left: 40px;
      z-index: 1; }
  .aware::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 165px;
    font-family: Brandon_blk;
    line-height: 1;
    position: absolute;
    left: 100px;
    bottom: 560px;
    opacity: 0.05;
    z-index: -1; }
  .aware::after {
    content: '';
    position: absolute;
    top: 174px;
    right: 150px;
    width: 900px;
    height: 620px;
    background: #d7d7d7;
    z-index: -1; }
  .paracontainer {
    font-size: 16px;
    font-family: Hiragino_Mincho_Pro;
    width: 250px;
    margin-top: 150px;
    margin-left: 40px; }
    .paracontainer p {
      line-height: 200%;
      margin-top: 15px; }
  #hero {
    width: 560px;
    position: relative;
    bottom: 685px;
    left: 400px;
    height: auto; }
    #hero img {
      width: 100%; }
  #iphone {
    width: 600px;
    position: relative;
    bottom: 198px;
    left: 500px; }
    #iphone img {
      width: 100%; }
  .serv {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .serv h2 {
      font-size: 40px;
      font-family: Brandon Grotesque; }
    .serv .sertit {
      width: 150px;
      transform: rotate(90deg);
      float: left;
      margin-top: 40px; }
    .serv .decserv {
      width: 400px;
      float: left;
      position: relative;
      right: 30px;
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: 1px; }
  .serv::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 260px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 350px;
    right: 100px;
    opacity: 0.05;
    z-index: -1; }
  .border-line {
    width: 60px;
    height: 2px;
    border-bottom: solid 2px black; }
  .manisec, .Caricollesec, .instagramsec {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 40%  60%; }
  .Caricollesec {
    height: 1000px; }
  .instagramsec .dec_left {
    width: 600px;
    z-index: 1; }
  .instagramsec p {
    width: 350px; }
  .parolesec, .Coinsec {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 60%  40%; }
  .img_right {
    width: 600px; }
    .img_right img {
      width: 100%; }
    .img_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .img_left {
    width: 600px; }
    .img_left img {
      width: 100%; }
    .img_left button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .dec_right {
    margin-left: 40px; }
    .dec_right h3 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 19px; }
    .dec_right h1 {
      font-family: Brandon_bld;
      font-size: 70px;
      margin-bottom: 40px; }
    .dec_right p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .dec_left {
    margin-right: 40px; }
    .dec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 19px; }
    .dec_left h1 {
      font-family: Brandon_bld;
      font-size: 70px;
      margin-bottom: 40px; }
    .dec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .black_bg {
    width: 100%;
    height: 550px;
    background-image: url(../img/findpersonproject.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 600px;
    background-color: black; }
    .black_bg .bg_container {
      background-size: 60%;
      width: 1000px;
      height: 550px;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
      padding: 0 0 100px;
      color: white;
      padding-top: 50px;
      padding-bottom: 50px; }
      .black_bg .bg_container h1 {
        font-family: Brandon_bld;
        font-size: 80px;
        line-height: 80px; }
      .black_bg .bg_container h3 {
        font-family: Hiragino_Mincho_Pro;
        font-size: 45px; }
      .black_bg .bg_container button {
        width: 250px;
        height: 60px;
        font-size: 14px;
        margin-top: 50px;
        letter-spacing: 2px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-bottom: 30px; }
      .black_bg .bg_container p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 12px; }
        .black_bg .bg_container p span {
          color: #a2c652; }
  .ci {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .ci .corptitle {
      position: relative;
      bottom: 47px;
      left: 200px;
      width: 400px; }
    .ci h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      z-index: 1; }
    .ci h3 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 30px;
      z-index: 1; }
    .ci .sertit {
      width: 150px;
      transform: rotate(90deg);
      float: left;
      margin-top: 65px; }
    .ci .decserv {
      width: 850px;
      float: left;
      position: relative;
      right: 30px;
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: 1px; }
  .ci::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 350px;
    right: 0px;
    left: 133px;
    opacity: 0.05;
    z-index: -1; }
  #corp {
    width: 730px;
    position: relative;
    left: 230px;
    top: 83px; }
    #corp img {
      width: 100%; }
  .ci::after {
    content: '';
    position: absolute;
    top: 574px;
    width: 800px;
    left: 100px;
    height: 320px;
    background: #d7d7d7;
    z-index: -1; }
  .author {
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 50% 50%; }
    .author .author_dec h2 {
      font-family: Hiragino_Mincho_Pro;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px; }
    .author .author_dec p {
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 150%;
      margin-bottom: 30px; }
    .author .auth_pic {
      width: 400px;
      margin: 40px; }
      .author .auth_pic img {
        width: 100%; }
  .vision {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 50%  50%; }
  .vdec_left {
    margin-right: 40px; }
    .vdec_left h2 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      letter-spacing: 2px;
      position: relative;
      top: -19px; }
    .vdec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 150%; }
    .vdec_left h1 {
      font-family: Brandon_bld;
      font-size: 70px; }
    .vdec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .vimg_right {
    width: 500px; }
    .vimg_right img {
      width: 100%; }
    .vimg_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .office_look {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .office_look h1 {
      font-size: 30px;
      font-family: Brandon_bld;
      width: 300px;
      margin: auto; }
    .office_look .office_pic {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .office_look .office_pic div {
        width: 300px; }
        .office_look .office_pic div img {
          width: 100%; }
  footer {
    color: white;
    width: 100%;
    background-color: black; }
    footer .inner_footer {
      width: 1000px;
      margin: 0 auto;
      padding-top: 80px;
      height: 600px; }
      footer .inner_footer h2 {
        font-size: 30px; }
      footer .inner_footer p {
        font-size: 14px;
        margin-top: 20px;
        font-family: "Noto Sans Japanese"; }
      footer .inner_footer table {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: 'Hiragino_Mincho_Pro'; }
        footer .inner_footer table th {
          text-align: left; }
        footer .inner_footer table td {
          padding: 15px; }
        footer .inner_footer table tr:last-child {
          vertical-align: top; }
      footer .inner_footer ul {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none; }
        footer .inner_footer ul li a {
          color: #a2c652;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: bold; }
  .sm {
    display: none !important; } }

@media screen and (min-width: 769px) and (max-width: 1200px) {
  header .logo {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 40px;
    top: 10px; }
  .active {
    height: 96.1px; }
  .aware {
    width: 100%;
    height: 700px;
    margin: 120px auto 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    padding: 0 0 100px; }
    .aware h1 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 50px;
      position: relative;
      top: 120px;
      left: 40px;
      z-index: 1; }
  .aware::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 165px;
    font-family: Brandon_blk;
    line-height: 1;
    position: absolute;
    left: 100px;
    bottom: 560px;
    opacity: 0.05;
    z-index: -1; }
  .aware::after {
    content: '';
    position: absolute;
    top: 174px;
    right: 150px;
    width: 900px;
    height: 620px;
    background: #d7d7d7;
    z-index: -1; }
  .paracontainer {
    font-size: 16px;
    font-family: Hiragino_Mincho_Pro;
    width: 250px;
    margin-top: 150px;
    margin-left: 40px; }
    .paracontainer p {
      line-height: 200%;
      margin-top: 15px; }
  #hero {
    width: 560px;
    position: relative;
    bottom: 685px;
    left: 400px;
    height: auto; }
    #hero img {
      width: 100%; }
  #iphone {
    width: 600px;
    position: relative;
    bottom: 198px;
    left: 500px; }
    #iphone img {
      width: 100%; }
  .serv {
    width: 100%;
    overflow: hidden;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .serv h2 {
      font-size: 40px;
      font-family: Brandon Grotesque; }
    .serv .sertit {
      width: 150px;
      transform: rotate(90deg);
      float: left;
      margin-top: 40px; }
    .serv .decserv {
      width: 400px;
      float: left;
      position: relative;
      right: 30px;
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: 1px; }
  .serv::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 260px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 350px;
    right: 100px;
    opacity: 0.05;
    z-index: -1; }
  .border-line {
    width: 60px;
    height: 2px;
    border-bottom: solid 2px black; }
  .manisec, .Caricollesec, .instagramsec {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 40%  60%; }
  .Caricollesec {
    height: 1000px; }
  .instagramsec .dec_left {
    width: 600px;
    z-index: 1; }
  .instagramsec p {
    width: 350px; }
  .parolesec, .Coinsec {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 60%  40%; }
  .img_right {
    width: 600px; }
    .img_right img {
      width: 100%; }
    .img_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .img_left {
    width: 600px; }
    .img_left img {
      width: 100%; }
    .img_left button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .dec_right {
    margin-left: 40px; }
    .dec_right h3 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 19px; }
    .dec_right h1 {
      font-family: Brandon_bld;
      font-size: 70px;
      margin-bottom: 40px; }
    .dec_right p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .dec_left {
    margin-right: 40px; }
    .dec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 19px; }
    .dec_left h1 {
      font-family: Brandon_bld;
      font-size: 70px;
      margin-bottom: 40px; }
    .dec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .black_bg {
    width: 100%;
    height: 550px;
    background-image: url(../img/findpersonproject.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 600px;
    background-color: black; }
    .black_bg .bg_container {
      background-size: 60%;
      width: 1000px;
      height: 550px;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
      padding: 0 0 100px;
      color: white;
      padding-top: 50px;
      padding-bottom: 50px; }
      .black_bg .bg_container h1 {
        font-family: Brandon_bld;
        font-size: 80px;
        line-height: 80px; }
      .black_bg .bg_container h3 {
        font-family: Hiragino_Mincho_Pro;
        font-size: 45px; }
      .black_bg .bg_container button {
        width: 250px;
        height: 60px;
        font-size: 14px;
        margin-top: 50px;
        letter-spacing: 2px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-bottom: 30px; }
      .black_bg .bg_container p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 12px; }
        .black_bg .bg_container p span {
          color: #a2c652; }
  .ci {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .ci .corptitle {
      position: relative;
      bottom: 47px;
      left: 200px;
      width: 400px; }
    .ci h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      z-index: 1; }
    .ci h3 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 30px;
      z-index: 1; }
    .ci .sertit {
      width: 150px;
      transform: rotate(90deg);
      float: left;
      margin-top: 65px; }
    .ci .decserv {
      width: 850px;
      float: left;
      position: relative;
      right: 30px;
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      line-height: 200%;
      letter-spacing: 1px; }
  .ci::before {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    top: 350px;
    right: 0px;
    left: 133px;
    opacity: 0.05;
    z-index: -1; }
  #corp {
    width: 730px;
    position: relative;
    left: 230px;
    top: 83px; }
    #corp img {
      width: 100%; }
  .ci::after {
    content: '';
    position: absolute;
    top: 574px;
    width: 800px;
    left: 100px;
    height: 320px;
    background: #d7d7d7;
    z-index: -1; }
  .author {
    width: 1000px;
    height: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 50% 50%; }
    .author .author_dec h2 {
      font-family: Hiragino_Mincho_Pro;
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 20px; }
    .author .author_dec p {
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 150%;
      margin-bottom: 30px; }
    .author .auth_pic {
      width: 400px;
      margin: 40px; }
      .author .auth_pic img {
        width: 100%; }
  .vision {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-columns: 50%  50%; }
  .vdec_left {
    margin-right: 40px; }
    .vdec_left h2 {
      font-family: "Noto Sans Japanese";
      font-size: 35px;
      letter-spacing: 2px;
      position: relative;
      top: -19px; }
    .vdec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 150%; }
    .vdec_left h1 {
      font-family: Brandon_bld;
      font-size: 70px; }
    .vdec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .vimg_right {
    width: 500px; }
    .vimg_right img {
      width: 100%; }
    .vimg_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 14px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .office_look {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .office_look h1 {
      font-size: 30px;
      font-family: Brandon_bld;
      width: 300px;
      margin: auto; }
    .office_look .office_pic {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      .office_look .office_pic div {
        width: 300px; }
        .office_look .office_pic div img {
          width: 100%; }
  footer {
    color: white;
    width: 100%;
    background-color: black; }
    footer .inner_footer {
      width: 1000px;
      margin: 0 auto;
      padding-top: 80px;
      height: 600px; }
      footer .inner_footer h2 {
        font-size: 30px; }
      footer .inner_footer p {
        font-size: 14px;
        margin-top: 20px;
        font-family: "Noto Sans Japanese"; }
      footer .inner_footer table {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: 'Hiragino_Mincho_Pro'; }
        footer .inner_footer table th {
          text-align: left; }
        footer .inner_footer table td {
          padding: 15px; }
        footer .inner_footer table tr:last-child {
          vertical-align: top; }
      footer .inner_footer ul {
        width: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none; }
        footer .inner_footer ul li a {
          color: #a2c652;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: bold; }
  .sm {
    display: none !important; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  header .logo {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 14px;
    top: 14px; }
  .active {
    height: 96.1px; }
  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0; }
    div.menu-branding.show,
    ul.menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px; }
  .aware {
    margin: 120px auto 0;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 35px;
    width: 90%; }
    .aware h1 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 40px;
      z-index: 1; }
  #hero {
    width: 105%;
    position: relative;
    left: 2px;
    margin-top: 10px;
    height: auto; }
    #hero img {
      width: 100%; }
  .paracontainer {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 150%;
    font-family: Hiragino_Mincho_Pro; }
    .paracontainer p {
      margin-bottom: 30px;
      font-size: 16px; }
  .serv {
    margin: 20px auto 0;
    box-sizing: border-box;
    position: relative;
    padding: 60px 0 35px;
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .serv h2 {
      font-size: 30px;
      font-family: Brandon Grotesque; }
    .serv .sertit {
      width: 20%;
      transform: rotate(90deg);
      float: left;
      margin-top: 15px; }
    .serv .decserv {
      width: 80%;
      float: left;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Hiragino_Mincho_Pro;
      position: relative;
      right: 40px;
      bottom: 39px; }
      .serv .decserv p {
        font-size: 16px; }
  .serv::after {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 350px;
    opacity: 0.05;
    z-index: -1; }
  .border-line {
    width: 60px;
    height: 2px;
    border-bottom: solid 2px black; }
  #iphone {
    width: 100%;
    position: relative;
    left: 362px; }
    #iphone img {
      width: 90%; }
  .manisec, .Caricollesec, .instagramsec {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 30px;
    display: grid;
    grid-template-rows: 40%  60%; }
  .img_right {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px; }
    .img_right img {
      width: 100%; }
    .img_right button {
      width: 50%;
      padding: 10px;
      background-color: #a2c652;
      position: relative;
      bottom: 120px;
      left: 140px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 2px; }
  .dec_left {
    margin-right: 40px;
    width: 100%; }
    .dec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 5px; }
    .dec_left h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      margin-bottom: 20px; }
    .dec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .dec_right {
    grid-row-start: 1;
    margin-right: 40px;
    width: 100%; }
    .dec_right h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 5px; }
    .dec_right h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      margin-bottom: 20px; }
    .dec_right p {
      font-size: 14px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .parolesec, .Coinsec {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 30px;
    display: grid;
    grid-template-rows: 60%  40%; }
  .img_left {
    grid-row-start: 2;
    width: 95%;
    margin: 0 auto;
    margin-top: 40px; }
    .img_left img {
      width: 100%; }
    .img_left button {
      width: 50%;
      padding: 10px;
      background-color: #a2c652;
      position: relative;
      bottom: 120px;
      left: 140px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 2px; }
  .black_bg {
    width: 100%;
    background-color: black;
    margin-bottom: 50px; }
    .black_bg .bg_container {
      background-size: 60%;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
      padding: 50px 30px;
      color: white; }
      .black_bg .bg_container h1 {
        font-family: Brandon_bld;
        font-size: 50px;
        line-height: 80px; }
      .black_bg .bg_container h3 {
        font-family: Hiragino_Mincho_Pro;
        font-size: 45px; }
      .black_bg .bg_container button {
        width: 250px;
        height: 60px;
        font-size: 14px;
        margin-top: 50px;
        letter-spacing: 2px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-bottom: 30px; }
      .black_bg .bg_container p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 16px; }
        .black_bg .bg_container p span {
          color: #a2c652; }
  .ci {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 35px;
    overflow: hidden;
    padding-top: 50px; }
    .ci .corptitle {
      position: relative;
      bottom: 143px;
      left: 29px;
      width: 320px; }
    .ci h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      z-index: 1; }
    .ci h3 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 26px;
      z-index: 1; }
    .ci .sertit {
      width: 20%;
      transform: rotate(90deg);
      float: left;
      margin-top: 50px;
      font-size: 25px; }
    .ci .decserv {
      width: 80%;
      float: left;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Hiragino_Mincho_Pro;
      margin-bottom: 100px;
      position: relative;
      right: 40px; }
  .ci::after {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 400px;
    left: 59px;
    opacity: 0.05;
    z-index: -1; }
  #corp {
    width: 90%;
    position: relative;
    left: 42px; }
    #corp img {
      width: 100%; }
  .ci::before {
    content: '';
    position: absolute;
    top: 423px;
    width: 90%;
    left: 11px;
    height: 325px;
    background: #d7d7d7;
    z-index: -1; }
  .author {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 30px; }
    .author .author_dec {
      width: 92%;
      margin: 0 auto; }
      .author .author_dec h2 {
        font-family: Hiragino_Mincho_Pro;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px; }
      .author .author_dec p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 150%;
        margin-bottom: 30px; }
    .author :nth-child(1) {
      grid-row-start: 1; }
    .author :nth-child(4) {
      grid-row-start: 3; }
    .author .auth_pic {
      width: 100%; }
      .author .auth_pic img {
        width: 100%; }
  .vision {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-rows: 50%  50%; }
  .vdec_left {
    margin-bottom: 40px;
    width: 100%; }
    .vdec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 150%; }
    .vdec_left h2 {
      font-family: "Noto Sans Japanese";
      font-size: 25px;
      letter-spacing: 2px;
      position: relative;
      top: -19px; }
    .vdec_left h1 {
      font-family: Brandon_bld;
      font-size: 50px;
      margin-bottom: 20px; }
    .vdec_left p {
      font-size: 16px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .vimg_right {
    width: 100%; }
    .vimg_right img {
      width: 100%; }
    .vimg_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .office_look {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .office_look h1 {
      font-size: 30px;
      font-family: Brandon_bld;
      width: 256px;
      margin: auto; }
    .office_look .office_pic {
      margin-top: 60px;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px; }
      .office_look .office_pic div {
        width: 300px; }
        .office_look .office_pic div img {
          width: 100%; }
  footer {
    color: white;
    width: 100%;
    background-color: black; }
    footer .inner_footer {
      width: 90%;
      margin: 0 auto;
      padding-top: 80px;
      padding-bottom: 80px; }
      footer .inner_footer h2 {
        font-size: 30px; }
      footer .inner_footer p {
        font-size: 14px;
        margin-top: 50px;
        font-family: "Noto Sans Japanese"; }
      footer .inner_footer table {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: 'Hiragino_Mincho_Pro';
        letter-spacing: 1px; }
        footer .inner_footer table th {
          text-align: left;
          width: 120px; }
        footer .inner_footer table td {
          padding: 15px;
          font-size: 14px; }
        footer .inner_footer table tr:last-child {
          vertical-align: top; }
      footer .inner_footer ul {
        width: 90px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        list-style: none; }
        footer .inner_footer ul li a {
          color: #a2c652;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: bold; } }

@media screen and (max-width: 500px) {
  p {
    font-family: YuMincho;
    font-size: 14px; }
  header .logo {
    width: 40px;
    height: 40px;
    position: fixed;
    left: 14px;
    top: 7px; }
  .menu-btn {
    width: 75px;
    height: 75px; }
    .menu-btn .menu-btn-inner {
      width: 75px;
      height: 75px;
      padding-left: 25px;
      padding-top: 25px; }
      .menu-btn .menu-btn-inner.close {
        padding-top: 25px; }
  .aware {
    margin: 120px auto 0;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 35px;
    width: 90%; }
    .aware h1 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 28px;
      z-index: 1; }
  #hero {
    width: 105%;
    position: relative;
    left: 2px;
    margin-top: 10px;
    height: auto; }
    #hero img {
      width: 100%; }
  .paracontainer {
    font-size: 16px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 150%;
    font-family: Hiragino_Mincho_Pro; }
    .paracontainer p {
      margin-bottom: 30px;
      font-size: 12px; }
  .serv {
    margin: 20px auto 0;
    box-sizing: border-box;
    position: relative;
    padding: 30px 0 35px;
    width: 100%;
    height: 500px;
    overflow: hidden; }
    .serv h2 {
      font-size: 30px;
      font-family: Brandon Grotesque; }
    .serv .sertit {
      width: 20%;
      transform: rotate(90deg);
      float: left;
      margin-top: 15px; }
    .serv .decserv {
      width: 80%;
      float: left;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Hiragino_Mincho_Pro; }
      .serv .decserv p {
        font-size: 12px; }
  .serv::after {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 200px;
    opacity: 0.05;
    z-index: -1; }
  .border-line {
    width: 60px;
    height: 2px;
    border-bottom: solid 2px black; }
  #iphone {
    width: 100%;
    position: relative;
    top: 40px;
    left: 80px; }
    #iphone img {
      width: 120%; }
  .manisec, .Caricollesec, .instagramsec {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 30px;
    display: grid;
    grid-template-rows: 40%  60%; }
  .img_right {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px; }
    .img_right img {
      width: 100%; }
    .img_right button {
      width: 50%;
      padding: 10px;
      background-color: #a2c652;
      position: relative;
      bottom: 120px;
      left: 140px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 2px; }
  .dec_left {
    margin-right: 40px;
    width: 100%; }
    .dec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 5px; }
    .dec_left h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      margin-bottom: 20px; }
    .dec_left p {
      font-size: 12px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .dec_right {
    grid-row-start: 1;
    margin-right: 40px;
    width: 100%; }
    .dec_right h3 {
      font-family: "Noto Sans Japanese";
      font-size: 20px;
      color: #878787;
      letter-spacing: 2px;
      position: relative;
      top: 5px; }
    .dec_right h1 {
      font-family: Brandon_bld;
      font-size: 40px;
      margin-bottom: 20px; }
    .dec_right p {
      font-size: 12px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .parolesec, .Coinsec {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 30px;
    display: grid;
    grid-template-rows: 60%  40%; }
  .img_left {
    grid-row-start: 2;
    width: 95%;
    margin: 0 auto;
    margin-top: 40px; }
    .img_left img {
      width: 100%; }
    .img_left button {
      width: 50%;
      padding: 10px;
      background-color: #a2c652;
      position: relative;
      bottom: 120px;
      left: 140px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 2px; }
  .black_bg {
    width: 100%;
    background-color: black;
    margin-bottom: 50px; }
    .black_bg .bg_container {
      background-size: 60%;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;
      position: relative;
      padding: 50px 30px;
      color: white; }
      .black_bg .bg_container h1 {
        font-family: Brandon_bld;
        font-size: 50px;
        line-height: 80px; }
      .black_bg .bg_container h3 {
        font-family: Hiragino_Mincho_Pro;
        font-size: 45px; }
      .black_bg .bg_container button {
        width: 250px;
        height: 60px;
        font-size: 14px;
        margin-top: 50px;
        letter-spacing: 2px;
        background-color: black;
        color: white;
        border: 1px solid white;
        margin-bottom: 30px; }
      .black_bg .bg_container p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 12px; }
        .black_bg .bg_container p span {
          color: #a2c652; }
  .ci {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 35px;
    overflow: hidden;
    padding-top: 30px; }
    .ci .corptitle {
      position: relative;
      bottom: 73px;
      left: 29px;
      width: 320px; }
    .ci h1 {
      font-family: Brandon_bld;
      font-size: 22px;
      z-index: 1; }
    .ci h3 {
      font-family: Hiragino_Mincho_Pro;
      font-size: 16px;
      z-index: 1; }
    .ci .sertit {
      width: 20%;
      transform: rotate(90deg);
      float: left;
      margin-top: 15px; }
    .ci .decserv {
      width: 80%;
      float: left;
      letter-spacing: 1px;
      line-height: 150%;
      font-family: Hiragino_Mincho_Pro;
      margin-bottom: 100px; }
  .ci::after {
    color: #000;
    content: attr(data-bg-text);
    display: block;
    font-size: 160px;
    letter-spacing: 5px;
    font-family: Brandon Grotesque;
    font-weight: 700;
    line-height: 1;
    position: relative;
    bottom: 400px;
    left: 59px;
    opacity: 0.05;
    z-index: -1; }
  #corp {
    width: 90%;
    position: relative;
    left: 42px; }
    #corp img {
      width: 100%; }
  .ci::before {
    content: '';
    position: absolute;
    top: 423px;
    width: 90%;
    left: 11px;
    height: 210px;
    background: #d7d7d7;
    z-index: -1; }
  .author {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-rows: 50% 50%; }
    .author .author_dec {
      width: 92%;
      margin: 0 auto; }
      .author .author_dec h2 {
        font-family: Hiragino_Mincho_Pro;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 20px; }
      .author .author_dec p {
        font-family: Hiragino_Mincho_Pro;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 150%;
        margin-bottom: 30px; }
    .author :nth-child(1) {
      grid-row-start: 1; }
    .author :nth-child(4) {
      grid-row-start: 3; }
    .author .auth_pic {
      width: 100%; }
      .author .auth_pic img {
        width: 100%; }
  .vision {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px;
    display: grid;
    grid-template-rows: 50%  50%; }
  .vdec_left {
    margin-bottom: 40px;
    width: 100%; }
    .vdec_left h3 {
      font-family: "Noto Sans Japanese";
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 150%; }
    .vdec_left h2 {
      font-family: "Noto Sans Japanese";
      font-size: 25px;
      letter-spacing: 2px;
      position: relative;
      top: -19px; }
    .vdec_left h1 {
      font-family: Brandon_bld;
      font-size: 50px;
      margin-bottom: 20px; }
    .vdec_left p {
      font-size: 12px;
      margin-top: 20px;
      line-height: 200%;
      letter-spacing: 1px;
      font-family: Hiragino_Mincho_Pro; }
  .vimg_right {
    width: 100%; }
    .vimg_right img {
      width: 100%; }
    .vimg_right button {
      width: 250px;
      height: 60px;
      background-color: #a2c652;
      position: relative;
      bottom: 140px;
      left: 300px;
      font-size: 12px;
      border: none;
      color: white;
      font-family: 'Hiragino_Mincho_Pro';
      font-weight: lighter;
      letter-spacing: 1px; }
  .office_look {
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    padding: 0 0 100px; }
    .office_look h1 {
      font-size: 30px;
      font-family: Brandon_bld;
      width: 256px;
      margin: auto; }
    .office_look .office_pic {
      margin-top: 60px;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px; }
      .office_look .office_pic div {
        width: 300px; }
        .office_look .office_pic div img {
          width: 100%; }
  footer {
    color: white;
    width: 100%;
    background-color: black; }
    footer .inner_footer {
      width: 90%;
      margin: 0 auto;
      padding-top: 80px;
      padding-bottom: 80px; }
      footer .inner_footer h2 {
        font-size: 30px; }
      footer .inner_footer p {
        font-size: 14px;
        margin-top: 50px;
        font-family: "Noto Sans Japanese"; }
      footer .inner_footer table {
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: 'Hiragino_Mincho_Pro';
        letter-spacing: 1px; }
        footer .inner_footer table th {
          text-align: left;
          width: 120px; }
        footer .inner_footer table td {
          padding: 15px;
          font-size: 14px; }
        footer .inner_footer table tr:last-child {
          vertical-align: top; }
      footer .inner_footer ul {
        width: 90px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        list-style: none; }
        footer .inner_footer ul li a {
          color: #a2c652;
          text-decoration: none;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: bold; }
  .pc {
    display: none; }
  .sm {
    display: block; } }

body {
  background: url(../img/bg_main.png) 50%;
  background-color: #f5f5f5;
  color: black;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }
  header .logo img {
    width: 100%; }

main {
  padding: 4rem;
  height: 100%; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(162, 198, 82, 0.9);
  transition: 1s 0.4s; }

#progress {
  height: 1px;
  background: #fff;
  position: absolute;
  width: 0;
  top: 50%; }

#progstat {
  font-size: 0.7em;
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  width: 100%;
  text-align: center;
  color: #fff; }

.whitebg {
  background-color: white !important; }

.greenbg {
  background-color: #a2c652 !important; }
